<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>wuye</display-name>
  <servlet>
    <description> 
		</description>
    <display-name>YezhuServlet</display-name>
    <servlet-name>YezhuServlet</servlet-name>
    <servlet-class>
		bao.servlet.YezhuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CheweiServlet</display-name>
    <servlet-name>CheweiServlet</servlet-name>
    <servlet-class>
		bao.servlet.CheweiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SalaryServlet</display-name>
    <servlet-name>SalaryServlet</servlet-name>
    <servlet-class>
		bao.servlet.SalaryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>TousuServlet</display-name>
    <servlet-name>TousuServlet</servlet-name>
    <servlet-class>
		bao.servlet.TousuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>BaoxiuServlet</display-name>
    <servlet-name>BaoxiuServlet</servlet-name>
    <servlet-class>
		bao.servlet.BaoxiuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CheweiSearch_Servlet</display-name>
    <servlet-name>CheweiSearch_Servlet</servlet-name>
    <servlet-class>
		bao.servlet.CheweiSearch_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SalarySearch_Servlet</display-name>
    <servlet-name>SalarySearch_Servlet</servlet-name>
    <servlet-class>
		bao.servlet.SalarySearch_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YezhuServlet</servlet-name>
    <url-pattern>/YezhuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheweiServlet</servlet-name>
    <url-pattern>/CheweiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SalaryServlet</servlet-name>
    <url-pattern>/SalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TousuServlet</servlet-name>
    <url-pattern>/TousuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaoxiuServlet</servlet-name>
    <url-pattern>/BaoxiuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheweiSearch_Servlet</servlet-name>
    <url-pattern>/CheweiSearch_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SalarySearch_Servlet</servlet-name>
    <url-pattern>/SalarySearch_Servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>qianruSearch_Servlet</display-name>
    <servlet-name>qianruSearch_Servlet</servlet-name>
    <servlet-class>bao.servlet.qianruSearch_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qianruSearch_Servlet</servlet-name>
    <url-pattern>/qianruSearch_Servlet</url-pattern>
  </servlet-mapping>
</web-app>